<div class="html-editor-container">
  <textarea id="{{tinyElementId}}" #textHere></textarea>
</div>
<div class="html-skeleton" [class.reordering]="reordering">
  <div class="html-skeleton-header">
    <div class="html-skeleton-header-box">
      <div class="html-skeleton-icon"></div>
      <div class="html-skeleton-icon"></div>
    </div>
    <div class="html-skeleton-header-box">
      <div class="html-skeleton-row"></div>
    </div>
    <div class="html-skeleton-header-box">
      <div class="html-skeleton-icon"></div>
      <div class="html-skeleton-icon"></div>
      <div class="html-skeleton-icon"></div>
      <div class="html-skeleton-icon"></div>
    </div>
    <div class="html-skeleton-header-box">
      <div class="html-skeleton-row"></div>
    </div>
    <div class="html-skeleton-header-box">
      <div class="html-skeleton-icon"></div>
      <div class="html-skeleton-icon"></div>
      <div class="html-skeleton-icon"></div>
    </div>
    <div class="html-skeleton-header-box">
      <div class="html-skeleton-icon"></div>
      <div class="html-skeleton-icon"></div>
    </div>
    <div class="html-skeleton-header-box">
      <div class="html-skeleton-icon"></div>
    </div>
  </div>
  <div class="html-skeleton-body">
    <div class="html-skeleton-row"></div>
    <div class="html-skeleton-row"></div>
    <div class="html-skeleton-row"></div>
  </div>
</div>
